.profile-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 20px;
    background:#111111;
}

.profile-card{
    width:450px;
    background:#1b2435;
    border-radius:18px;
    padding:40px;
    box-shadow:0 20px 45px rgba(0,0,0,.35);
    border:1px solid rgba(255,255,255,.05);
}

.profile-header{
    text-align:center;
}

.profile-image{
    width:130px;
    height:130px;
    border-radius:50%;
    border:4px solid #ef4444;
    object-fit:cover;
    margin-bottom:18px;
}

.profile-header h2{
    color:white;
    margin-bottom:8px;
}

.profile-header p{
    color:#9ca3af;
    margin-bottom:30px;
}

.profile-details{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.profile-item{
    background:#111827;
    padding:16px;
    border-radius:10px;
}

.profile-item span{
    color:#9ca3af;
    font-size:14px;
}

.profile-item h4{
    color:white;
    margin-top:6px;
    font-weight:600;
}

.profile-card button{
    width:100%;
    margin-top:35px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#ef4444;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.profile-card button:hover{
    background:#dc2626;
    transform:translateY(-2px);
    box-shadow:0 12px 25px rgba(239,68,68,.35);
}